.container {
  background-color: var(--orange);
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: open-toast 0.3s linear;
  z-index: 100;

  &.triangle::after {
    position: absolute;
    background-color: var(--orange);
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 30px;
    width: 30px;
    content: '';
  }
}

.frame {
  padding: 20px 15px;
  display: flex;
  min-width: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
}

.img {
  height: 30px;
}

.message {
  color: var(--white);
  margin: 0 25px 0 15px;
}

.close {
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    box-shadow: none;
  }

  &Img {
    width: 16px;
    height: 16px;
  }
}

.timer {
  width: 1%;
  height: 5px;
  background-color: var(--orange-lighten);
  animation: timer 5s linear;
}

@keyframes timer {
  0% {
    width: 100%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 25%;
  }
  100% {
    width: 1%;
  }
}

@keyframes open-toast {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  20%,
  45% {
    transform: scaleX(1.35) scaleY(0.1);
  }
  65% {
    transform: scaleX(0.8) scaleY(1.7);
  }
  80% {
    transform: scaleX(0.6) scaleY(0.85);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
