.card {
  flex: 1 1 0px;
  background-color: var(--white);
  color: var(--dark);
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.07);

  &circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px var(--silver);
    background-color: var(--white);
    z-index: 1;
    margin: 0 auto 20px;
  }

  &.active {
    box-shadow: 0 0 0 2px var(--orange);

    .cardcircle {
      border: 0;
      background-color: var(--orange);

      &::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--white);
      }
    }
  }
}

.cardcontent {
  padding: 30px;
  text-align: center;
}

.cardtype {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0;
}

.cardtitle {
  font-size: 32px;
  margin: 0;
}

.cardruler {
  color: var(--silver-85);
  margin: 35px 0;
}
