.progressbar{
  width: 100%;
  animation: animate-stripes 5s linear infinite;

  &[value] {
    appearance: none;
    height: 10px;

    &::-webkit-progress-bar {
      background-color: var(--silver-85);
      border-radius: 8px;
    }

    &::-webkit-progress-value {
      background-image: linear-gradient(to right, var(--orange) 0%, var(--orange-darken) 154%);
      border-radius: 8px;
      transition: width 0.5s;
    }
  }
}
