.wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.contentwrapper {
  width: 100%;

}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image {
  max-width: 90px;
  margin-right: 40px;
}

.helpbutton {
  background: transparent;
  cursor: pointer;

  &:hover {
    box-shadow: none;
  }
}

.helpimage {
  height: 15px;
  margin-left: 5px;
}

.slider {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 11px;
    width: 12px;
    border-radius: 45%;
    background: var(--white);
    border: 1px solid var(--silver-85);
    cursor: pointer;
    box-shadow: -1024px 0 0 1020px var(--orange);
  }

  &::-webkit-slider-runnable-track {
    background-color: var(--silver-85);
    height: 10px;
  }
}
