.wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.contentwrapper {
  width: 100%;

}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image {
  width: 50px;
  margin-right: 40px;
}

.helpbutton {
  background: transparent;
  cursor: pointer;

  &:hover {
    box-shadow: none;
  }
}

.helpimage {
  height: 15px;
  margin-left: 5px;
}

.description {
  background-color: var(--orange);
  color: var(--white);
  padding: 25px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  animation: open-description 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  &::after {
    position: absolute;
    background-color: var(--orange);
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 30px;
    width: 30px;
    content: '';
  }
}

.descriptionimg {
  height: 30px;
  margin-right: 25px;
}

.close {
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    box-shadow: none;
  }

  &Img {
    width: 16px;
    height: 16px;
  }
}

.slider {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 45%;
    background: var(--white);
    border: 1px solid var(--silver-85);
    cursor: pointer;
    box-shadow: -1024px 0 0 1020px var(--orange);
  }

  &::-webkit-slider-runnable-track {
    background-color: var(--silver-85);
    height: 10px;
  }
}

.explanation {
  font-style: italic;
}

@keyframes open-description {
  0% {
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
